.order-status {
    .dropdown__button {
        color: dimgray;

        &:focus {
            border: 1px solid #696969;
        }
    }

    //.order-block__content {
    //    border-bottom: 1px solid rgba(64,64,64,.2)!important;
    //}

    .content__cell:not(:last-child) {
        border-right: 1px solid white!important;
    }

    .content__row:not(:last-child) {
        border-bottom: 1px solid white!important;
    }

    .dropdown__button:hover, .text__input:hover, .button--send-to-fabric:hover,
    .button--add:hover, .button--delete:hover, .button--change:hover {
        cursor: not-allowed;
    }

    .button--send-to-fabric:hover,
    .button--add:hover, .button--delete:hover, .button--change:hover {
        background: white;
        color: #9E9E9E;
    }

    .button--send-to-fabric,
    .button--add, .button--delete, .button--change {
        color: #9E9E9E;
        border: 1px solid #9E9E9E;
        text-align: center;
    }

    .contenct__cell--padding, .content__cell--mob-meaning {
        padding-left: 0!important;
    }

    .content__row--desktop {
        background: #e69096;
    }

    .content__cell--mob-meaning, .contenct__cell--padding {
        color: #747474;
    }

    .content__row:not(:first-child) {
        background: #DBDBDB!important;

        .content__cell:last-child {
            background: white;
            .content__cell--mob-meaning {
                font-weight: 900;
                color: black;
            }
        }
    }

    .content__cell:nth-child(1) {
        width: 190px;
    }

    .content__cell:nth-child(2) {
        width: 140px;
    }

    .content__cell:nth-child(3) {
        width: 150px;
    }

    .content__cell:nth-child(4) {
        width: 430px!important;
    }

    .content__cell:nth-child(5) {
        width: 80px!important;
    }

    .content__cell:nth-child(6) {
        width: 120px!important;
    }

    .content__cell:nth-child(7) {
        width: 113px!important;
    }

    .content__cell:nth-child(8) {
        width: 99px!important;
    }

    .content__cell:nth-child(9) {
        width: 125px!important;
    }

    .content__cell:nth-child(10) {
        width: 151px!important;
    }
}

@media (max-width: 1640px) {
    .order-status {

        .content__cell--mob-meaning {
            white-space: normal;
        }

        .content__cell:nth-child(1) {
            width: 150px;
        }

        .content__cell:nth-child(2) {
            width: 80px;
        }

        .content__cell:nth-child(3) {
            width: 140px;
        }

        .content__cell:nth-child(4) {
            width: 290px!important;
        }

        .content__cell:nth-child(5) {
            width: 73px!important;
        }

        .content__cell:nth-child(6) {
            width: 90px!important;
        }

        .content__cell:nth-child(7) {
            width: 75px!important;
        }

        .content__cell:nth-child(8) {
            width: 99px!important;
        }

        .content__cell:nth-child(9) {
            width: 80px!important;
        }

        .content__cell:nth-child(10) {
            width: 101px!important;
        }
    }
}

@media (max-width: 1200px) {
    .order-status {

        .order-block__content {

            .content__cell:not(:last-child) {
                border-right: none!important;
            }

            .content__cell {
                width: 100% !important;
                border-bottom: 1px solid white!important;
            }

            .content__cell--mob {
                min-width: 180px!important;
                border-right: 1px solid white;
            }

            .content__cell--mob-meaning, .contenct__cell--padding {
                padding-left: 15px!important;
            }

            .content__cell:last-child {
                border-right: none!important;
            }
        }
    }
}

@media (max-width: 560px) {
    .order-status .order-block__content .content__cell--mob {
        border-right: none;
    }

}